* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#All {
    margin-top: 15%;
}

.header {
    background-color: #056232;
    padding: 10px 10px;
    overflow: hidden;
    align-items: center;
    
  }
  
  .header a {
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  
  
  .login {
    background-color: #FF6500;
    border-radius: 10px;
  }
  
  .login:hover {
    color: white;
  }
  
  
  .cadastro {
    background-color: #003a21;
    border-radius: 10px;
  }
  
  .adm {
    background-color: #003a21;
    border-radius: 10px;
  }
  
  .cadastro a{
    color: #4BEB35;
    margin-left: 10px;
  }
  
  a.adm{
    color: #4BEB35;
    margin-left: 10px;
  }
  
  a.adm:hover{
    opacity: 60%;
  }
  
  
  .header_right {
    float: right;
    padding-right: 100px;
    padding-top: 10px;
  }
  
  a.cadastro {
    margin-left: 10px;
    color: #f4fff3;
  }
  
  a.cadastro:hover {
    opacity: 70%;
  }
  a.login:hover {
    opacity: 80%;
  }
  
  
  .hlogo {
    margin-top: 0px;
    float: left;
  }
  
  .hlogo img {
    width: 60%;
  }


#main {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#box {
    width: 400px;
    height: 480px;
    background: #ffffff58;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#box input[type=email],
input[type=password] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(90, 90, 90, 0.532);
    margin-top: 10%;
    width: 65%;
}

#login {
    font-weight: bold;
    font-size: 25px;
    color: #FF6500;
    opacity: 0.8;
}

#emailLogin::placeholder,
#passwordLogin::placeholder {
    font-size: 15px;
}

#continueButton {
    padding: 10px 13px 10px 13px;
    font-size: 20px;
    border-radius: 3px;
    background-color: #056232;
    color: white;
    margin-top: 5%;
    font-weight: bolder;
    padding: 5px 15px;
}

#continueButton:hover{
    color: #4BEB35;
    background-color: #003a21;
    opacity: 80%;
    
}

#registerButton {
    padding: 6px;
    border: none;
    border-radius: 6px;
    background: #FF6500;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#registerButton a{ 
    text-decoration: none;
    color: #ffffff;
}

#registerDiv {
    line-height: 35px;
    font-size: 12px;
    margin-top: 4%;
}

button#registerDiv{
    text-decoration: none;
}

.checkbox {
    font-size: 10px;
    margin-top: 10%;
    font-family: arial;
}
#registerButton:hover {
    background: rgb(255,101,0);
    background: linear-gradient(90deg, rgba(255,101,0,1) 3%, rgba(255,174,0,1) 100%);
    font-size: 12px;
    cursor: pointer;
}
#continueButton:hover{
    cursor: pointer;
}



.footer{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 10px;
    background-color: #056232;
    text-align: center;
    padding: 8px 0 8px 0;
    bottom: 0;
    position: fixed;
  }


span{
    opacity: 70%;
}

input, select {
    margin-bottom: 10px;
    outline-color: #FF6500;
}