@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #F8F8F8;
    overflow-x: hidden;
}

.nav {
    width: 100vw;
  }
  
  .header {
    background-color: #056232;
    padding: 10px 10px;
    overflow: hidden;
    align-items: center;
  }
  
  .header a {
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  
  .update, .carrinho {
    background-color: #FF6500;
    border-radius: 10px;
  }
  
  .update:hover, .carrinho:hover{
    color: white;
  }
  
  #carrinhoImage{
      width: 20px;
      height: 15px;
      padding: 0;
  }
  
  .header_right {
    float: right;
    padding-right: 100px;
    padding-top: 10px;
  }
  
  a.update:hover, a.carrinho:hover {
    opacity: 80%;
  }
  
  .logo {
    margin-top: 0px;
    float: left;
  }
  
  .logo img {
    width: 60%;
  }
#animal {
    background-color: #014C2C;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    list-style-type: none;
    margin-top: 0px;

}

.animal_item {
    float: left;
}

.animal_item a {
    display: inline-block;
    color: #4BEB35;
    text-decoration: none;
    padding: 5px 16px;
    font-weight: 600;
}

.animal_item a:hover {
    background-color: #FF6500;
    color: white;
    box-shadow: 0 0 15px #FF6500;
}

.container-image-product-informations {
    display: flex;
}

.product-information {
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.box-product-image {
    max-width: 500px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 20px;
    border-radius: 13px;
    text-align: center;
}

.box-product-image img {
    max-width: 70%;
}

.price-buy {
    max-width: 330px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin: 105px 0 0 240px;
}

.price-buy p {
    color: #ff802b;
    font-size: 20px;
    font-weight: bold;
}

#vista {
    font-size: 10px;
}

.price-buy button {
    background-color: #FF6500;
    color: white;
    font-size: 17px;
    padding: 3px 70px 3px 70px;
    border-radius: 6px;
    margin-top: 55px;
    margin-left: 25px;
}

.price-buy button a{
  text-decoration: none;
  color: white;
}
.price-buy button a:hover{
  text-decoration: none;
  color: #FF6500;
  background: white;
}

.price-buy button:hover {
    padding: 2px 69px 2px 69px;
    font-size: 15px;
    background-color: #ff7b23;
    cursor: pointer;
}

#consult-ok {
    background-color: #05693e;
    color: white;
    padding: 4px 6px;
    margin-left: 10px;
    border-radius: 4px;
}

#consult-ok:hover {
    background-color: #098545;
    cursor: pointer;
    padding: 3px 5px;
}

.quantity label {
    font-size: 12px
}

.quantity {
    margin-top: 40px;

}
.quantity input{
    padding: 1px 15px 1px 15px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
}
#cep {
    padding: 4px 15px 4px 15px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
}

.cep label {
    font-size: 10px;
    font-weight: bold;
}

.cep {
    margin-top: 20px;
}

.recomended{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.recomended-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.description{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.description-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.formula{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.formula-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.indication{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.indication-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.mode-of-use{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}
.mode-of-use-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.grace-period{
    margin-left: 200px;
    margin-right: -220px;
    margin-top: 76px;
}

.grace-period-box{
    max-width: 850px;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    padding: 40px 20px 20px 36px;
    border-radius: 13px;
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#footer {
    margin-top: 30px;
    width: 100%;
    font-size: 10px;
    background-color: #056232;
    text-align: center;
    padding: 20px 380px 20px 380px;
    bottom: 0;
    border-top: solid 5px #ffa366;
    color: rgb(138, 133, 133);
}

#footer h3 {
    color: rgb(92, 92, 92);
}

.box-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 10px;
    border-radius: 10px;
}

.box-footer ul {
    flex: 1;
    list-style: none;
    text-align: left;
    width: 25%;
}

.box-footer h3 {
    margin-right: 20px;
}

.images-footer {
    display: inline;
    list-style: none;
    width: 20px;
    margin-right: 10px;
}

.departamen-footer {
    margin-left: 25px;
}

.contact-footer {
    margin-right: 20px;
}


#image-logo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.images-footer li,
.contact-footer li {
    margin-right: 10px;
}